<h1>Welcome to Rock, Paper, Scissors!</h1>

<form action="/" method="post">
<p><label>Player 1, choose your weapon:</label></p><br>
<select name="weapon1">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>
<br>
<br>
<p><label>Player 2, choose your weapon:</label></p><br>
<select name="weapon2">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>

<p><input type="submit"></p>
</form>