<h2>Player 2, choose your weapon!</h2>

<form action="/player2" method="post">
<select name="weapon2">
  <option value="rock">Rock</option>
  <option value="paper">Paper</option>
  <option value="scissors">Scissors</option>
</select>

<p><input type="submit"></p>
</form>