<% if $player1Score == 3 %>
	<h1>Player 1 won the game!</h1>

<% elsif %>
	<h1>Player 2 won the game!</h1>
<% end %>

<p><a href="/">Play Again!</a></p>

<% $player1Score = 0 %>
<% $player2Score = 0 %>